*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;

}
#navbar{
    height: 80px;
    width: 100%;
    background-color: white;
    position: fixed;
}
.page-1{
    min-height: 100vh;
    width: 100%;
    background-color: blue;

}
.page-2{
    min-height: 100vh;
    width: 100%;
    background-color: forestgreen;
    
}
